# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_target_platformosx-64

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "JYI/fTfbzncqk8DMvglvS6Kt8i/lMym9D//5p+qE+q71VUl2zWfiezUVPx5uKHEg2XYl6ZIiUEgs+KJR/hQRm6qgpUxKEV53q6x8PBIy/KyIHYIFqGyB+O7L6CCl7HlkSrUYcVpEq5lfx1nFF1WFsJsWd+BT+ilT2ICuY6jKpazY0KR0Gm8wIy1Uhl90fzptZWProRS14o26E1TW78sSThE73xwbvrLsBeu+H171SE8lEbLEG0dK9rDd0yffdxtTNvLfEH9o3XYCLsV6BSVWlQzC+EfeGyfTd/7Z+3TMC2jEoNq0jumGjnsbsZWsfzayFAYx4wt3bN554quax34rVse9rOQ/UbJxfN5vPpGOmDkei2RlYrb3RAYNintUbixMlIr3jV6LGMlNL31BIEUv6/F0atMfhlv5wNODF+kH4wc7CiZY5KTcYbqWgQ0rMDoLeq+fiqljfj6aK8EX0m2wCZxmj3hMWRgEOVwMcEX7vlycuKI9wCse0h8EsUyfQq7h/r8P02AbbO6lzl4MaZgOEzPeWBLBGSQSTR4nbZfWgX+5Ny1m4DiCEMk4LrHELXR9CacnHxE1NDLV2YMD5kguO2lEvugbFlXs8nQpgh8nrf5A39mMXbhzoDVRoB3b2PqzbgcihDwvpTEWELLhdw4A+b12s2hMuBqd1FWxkwQGrNc="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
